<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.com.redcircle">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>



    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>


        </activity>


        <activity android:name=".ShareActivity">


        </activity>

        <activity android:name=".PreviewActivity">

        </activity>

        <activity
            android:name=".MeCircleActivity">
        </activity>


        <activity android:name=".AddArticleActivity">

        </activity>

        <activity android:name=".UserDetailActivity">

        </activity>

        <activity android:name=".ModifyMeFriendActivity">

        </activity>

        <!--点击会话页面图片展示页面-->
        <activity
            android:name=".PhotoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".FriendActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".AddFriendActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ModifyActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".InviteActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".PickerActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".CropActivity"
            android:screenOrientation="portrait" >
        </activity>


        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>


        <!--会话界面-->
        <activity
            android:name="cloud.com.redcircle.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cloud.com.redcircle"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>




        <activity
            android:name=".TestPushActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cloud.com.redcircle"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>


</manifest>